
    <mat-toolbar style="background-color:#191970;">
      <a [routerLink]="''" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon style="color: white;">local_atm</mat-icon>
      </a>
      <span style="color: white; font-family: cursive;"> YOUR ATM SYSTEM </span>
      <span class="example-spacer"></span>

      <a  [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon mr40" aria-label="Example icon-button with heart icon" style="color: white;">
        Login

      </a>

      <a [routerLink]="'/signup'" mat-icon-button class="example-icon favorite-icon ml40 mr40" aria-label="Example icon-button with heart icon" style="color: white;">
        Signup

      </a>



    </mat-toolbar>


