<div class="main" style="background-image: url(../../../assets/images/mainbackground5.jpeg);">
<div class="grid-box">
    <mat-grid-list cols="2" rowHeight="3:1" gutterSize="35px">
        <mat-grid-tile (click)="openTransaction()" style="border-radius: 10px;">Show Transactions</mat-grid-tile>
        <mat-grid-tile (click)="openDeposit()" style="border-radius: 10px;">Deposit</mat-grid-tile>
        <mat-grid-tile (click)="openWithdraw()" style="border-radius: 10px;">Withdraw</mat-grid-tile>
        <mat-grid-tile (click)="openPin()" style="border-radius: 10px;">Change pin</mat-grid-tile>
      </mat-grid-list>
</div> 
</div>  

